
<div class="container-fluid">
  <div class="row mt-3">
    <div></div>
    <div class="col-sm-6 mt-2">
      <mat-form-field appearance="outline" style="width: 45%;height: 2px;">
        <mat-select panelClass="abc" (selectionChange)="getAllOperator($event.value)" [(ngModel)]="selectedProject">
          <mat-select-filter [array]="project" (filteredReturn)="filteredList1 = $event"></mat-select-filter>
          <mat-option *ngFor="let item of filteredList1" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col-6 mt-2">
      <button mat-raised-button color="Basic" class="font-17 float-right btn-xs-block ml-2" style="color: #3ca7c5"
        (click)="isFilterBtn = true">
        Filter
        <span *ngIf=" tableData.projectName.length  || tableData.status.length  ||  isFilterShow  " class="dot"></span>
      </button>
      <button mat-raised-button color="primary" class="font-17 btn-xs-block btn-info" (click)="createOperator()"
        >
        Create Entry
      </button>
    </div>
  </div>


  <div class="row">
    <div class="container my-3" [ngClass]="{ 'col-md-12': !isFilterBtn, 'col-md-9': isFilterBtn }">
      <div *ngIf="dataSource?.filteredData?.length; else elseBlock">
        <div class=" tableScroll mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortDirection="desc"
            matSortActive="updated" matSortDisableClear>
            <ng-container matColumnDef="chartId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Chart ID
              </th>
              <td mat-cell *matCellDef="let row">{{ row.chartId }}</td>
            </ng-container>

            <ng-container matColumnDef="chartNote" class="ellipsis">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Chart Note
              </th>
              <td mat-cell *matCellDef="let row">{{ row.chartNote }}</td>
            </ng-container>

            <ng-container matColumnDef="chatStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row">{{ row.status }}</td>
            </ng-container>

            <ng-container matColumnDef="updated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Updated Date
              </th>
              <td mat-cell *matCellDef="let row">{{ row.updated }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let row; let i = index">
                <button *ngIf="this.operatorPermissions.edit" mat-icon-button color="primary"
                  [routerLink]="['./edit-operator', row.id]">
                  <mat-icon (click)="editRow(row)">visibility</mat-icon>
                </button>
                <!-- <button *ngIf="this.operatorPermissions.delete" mat-icon-button color="warn"
                    (click)="deleteUser(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button> -->
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
            <tr (click)="editRow(row)" mat-row *matRowDef="let row; columns: displayedColumns"
              [routerLink]="['./edit-operator', row.id]"></tr>
          </table>

          <mat-paginator class="mat-paginator-sticky" [pageSize]="tableData.size" [pageIndex]="pageIndex"
            [length]="totalDocCount" [pageSizeOptions]="[10, 20, 50, 100, 200]" showFirstLastButtons
            (page)="pageSizeChange($event)"></mat-paginator>
        </div>
      </div>

      <ng-template #elseBlock>
        <div *ngIf="isRecordLoaded" class="card bg-default h-100-pb30 opacity95 " style="margin-top: 1px;">
          <div class="card-body pb-0">
            <h3 class="text-center text-font">
              <img class="mb-3 img-height" src="./../../../../assets/images/noRecord.png" alt="image"> <br>
              {{dataSource.data.length ? 'No Records Found !' : 'There are no active entries at this moment.'}}
            </h3>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="col-md-3 my-3" *ngIf="isFilterBtn">
      <mat-card>
        <div class="row">
          <div class="col-md-10">
            <span class="font-size">Apply filter</span>
          </div>
          <div class="col-md-2">
            <mat-icon style="float: right; cursor: pointer" (click)="isFilterBtn = false">close</mat-icon>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pt-2">
            <mat-form-field appearance="outline" class="example-form-field">
              <mat-label>Project Name</mat-label>
              <input matInput type="text" autocomplete="off" [(ngModel)]="tableData.projectName" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-form-field">
              <mat-label>Status</mat-label>
              <mat-select class="select_panel" [(ngModel)]="tableData.status" multiple>
                <div *ngFor="let status of statusList">
                  <mat-option [value]="status"> {{ status }} </mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
              <mat-label>Start Date</mat-label>
              <input (dateInput)=" myChange(startdate)" #startdate matInput [matDatepicker]="startDate"
                [(ngModel)]="tableData.startDate" />
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate color="primary"></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
              <mat-label>End Date</mat-label>
              <input (dateInput)=" myChange(enddate)" #enddate matInput autocomplete="off" [matDatepicker]="endDate"
                [(ngModel)]="tableData.endDate" [min]="tableData.startDate" />
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate color="primary"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="text-right">
          <button class="button-position" (click)="clearFilter(tableData)" mat-stroked-button>
            Clear
          </button>
          <button mat-raised-button class="btn-info pl-1 btn-position" (click)="searchByFilter(tableData)">
            Apply
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>