

h1 {
    color: #e14331;
    display: block;
}

h3 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;

}

h6 {
    color: red;
    text-decoration: underline;
}

.w-center {
    text-align: center !important
}

.w-jumbo {
    font-size: 64px !important
}

// .w-animate-top {
//     position: relative;
//     animation: animatetop 0.4s
// }

// @keyframes animatetop {
//     from {
//         top: -300px;
//         opacity: 0
//     }

//     to {
//         top: 0;
//         opacity: 1
//     }
// }

.w-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.w-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    border: 0;
    border-top: 1px solid rgb(19, 14, 14);
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
