<div class="global-container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <!-- <div class="forgot-bg"> -->
                <div class="card forgot-form">
                    <div class="card-body p-0">
                        <div class="text-center">
                            <img src="./../../../assets/images/s2m logo.png" class="img-fluid login-logo" alt="">
                        </div>
                        <div class="card-text mb-3">
                            <form [formGroup]="form" class="mlr-2" (ngSubmit)="onSubmit()"> 
                                <label class="mb-1 label">Email Id</label>
                                <div style="position:relative;">
                                    <input class="form-input" type="email" formControlName="email">
                                </div>
                                <button class="forgot-btn mt-3 mb-3 wh_text" mat-raised-button  type="submit" [disabled]="!form.valid">Submit</button>
                                <button class="forgot-btn mt-3 mb-3 or-text" mat-stroked-button [routerLink]="['/login']">Cancel</button>
                            </form>
                        </div>
                        <div class="login-footer  py-3">
                            <span><b  class="powered">Powered By </b>  &nbsp;<a href="https://neutrinotechsystems.com/" target="_blank"> <img src="./../../../assets/images/Group 1221.png" class="img-fluid powered-logo" alt=""></a></span>
                          </div>
                    </div>
        
                <!-- </div> -->
            </div>
        </div>
    </div>
    
</div>