<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
   
    <mat-nav-list>
      <mat-list-item class="row-color">
        <div class="logo-image">
          <img *ngIf="!isExpanded" src="./../../../../assets/images/S2M icon.png" class="img-fluid"
            [routerLink]="'home'" />
          <span *ngIf="isExpanded" class="menu-item">
            <img src="./../../../../assets/images/s2m logo.png" class="img-fluid" [routerLink]="'home'"
              style="height: 24px; width: 107px" />
          </span>
        </div>
      </mat-list-item>

      <mat-list-item *ngIf="optionsPermissions.viewUser" [routerLinkActive]="['active']" [routerLink]="'user'" #rla="routerLinkActive">
        <img class="mr-2" matTooltip="Users" [matTooltipPosition]="'right'" [src]=" rla.isActive ? 'assets/images/User1.svg' : 'assets/images/user.svg'" alt="icons.name">
        <span *ngIf="isExpanded" class="menu-item wh-text text-font">Users</span>  
      </mat-list-item>
 
      <mat-list-item *ngIf="optionsPermissions.viewRole" [routerLinkActive]="['active']" [routerLink]="'role'" #rla="routerLinkActive">
        <img class="mr-2" matTooltip="Roles"   [matTooltipPosition]="'right'" [src]=" rla.isActive ? 'assets/images/Role1.svg' : 'assets/images/Role.svg'" alt="icons.name">
        <span *ngIf="isExpanded" class="menu-item wh-text text-font">Roles</span>
      </mat-list-item>

      <!-- <mat-list-item *ngIf="optionsPermissions.viewProject" [routerLinkActive]="['active']" [routerLink]="'project'" #rla="routerLinkActive">
        <img class="mr-2"  matTooltip="Projects"  [matTooltipPosition]="'right'" [src]=" rla.isActive ? 'assets/images/Project1.svg' : 'assets/images/Project.svg'" alt="icons.name">
        <span *ngIf="isExpanded" class="menu-item wh-text text-font">Projects</span>
      </mat-list-item>

      <mat-list-item *ngIf="optionsPermissions.viewDocument" [routerLinkActive]="['active']" [routerLink]="'operator'" #rla="routerLinkActive">
        <img class="mr-2"  matTooltip="Entries"  [matTooltipPosition]="'right'" [src]=" rla.isActive ? 'assets/images/Entry1.svg' : 'assets/images/Entry.svg'" alt="icons.name">
        <span *ngIf="isExpanded" class="menu-item wh-text text-font">Entries</span>
      </mat-list-item>

      <mat-list-item *ngIf="optionsPermissions.viewAudit" [routerLinkActive]="['active']" [routerLink]="'audit'" #rla="routerLinkActive">
        <img class="mr-2"  matTooltip="Audits"   [matTooltipPosition]="'right'" [src]=" rla.isActive ? 'assets/images/Audit Active.svg' : 'assets/images/Audit.svg'" alt="icons.name">
        <span *ngIf="isExpanded" class="menu-item wh-text text-font">Audits</span>
      </mat-list-item> -->
    </mat-nav-list>

    <button mat-mini-fab (click)="isExpanded = !isExpanded" class="side-nav-btn">
      <mat-icon mat-list-icon class="arrow-position" [ngClass]="{ rotated: isExpanded }">{{isExpanded ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}
      
      </mat-icon>
    </button>

  </mat-sidenav>

  <mat-sidenav-content >
    <mat-toolbar class="navigation-bar px-4">
      <span class="example-spacer "></span>
      <button mat-icon-button style="line-height: 30px !important;" matTooltip="{{userInfo}}" color="accent" [matMenuTriggerFor]="menuProfile">        
        <div  class="profileImageIcon">{{ userInfo ? userInfo.charAt(0).toUpperCase() : ''}}</div>
    </button>
    <div class="devider_vertical mx-2" style=" border-right: 1px solid #ccc!important;"> </div> 
          <span (click)="logout()" matTooltip="Logout"
            class="text-center ml-3 link primary-font-color d-flex justify-content-center align-items-center logout-color">
            <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;
          </span>
    </mat-toolbar>
    <div class="cdk-overlay-pane">

    <mat-menu #menuProfile="matMenu" class="theme_color">
      <div (click)="$event.stopPropagation()" class="mat-menu-content">
        <div class="coverPic greybg px-4 py-2"> </div>
        <div class="avatar-upload px-4">
          <label>
            <div class="profileImage">{{ userInfo.charAt(0).toUpperCase() }}</div>
          </label>
        </div>
        <div class="font-15 primary-font-color userNameLabel px-4 profile_menu" matTooltipClass="primary-tooltip" #ele [matTooltip]="(ele.scrollWidth > ele.clientWidth) ? userInfo : ''">
          <span> {{ userName }} </span>            
      </div>
        <div class="font-13 primary-font-color userNameLabel px-4 py-2 profile_menu" matTooltipClass="primary-tooltip" #ele [matTooltip]="(ele.scrollWidth > ele.clientWidth) ? userInfo : ''">
          <span> {{ userInfo }} </span>            
        </div>
      </div>
    </mat-menu>
  </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>