.btn-info{
    float: right;
    margin-right: 5px;
}
.btn-col{
    background-color: #3CA7C5;
    
}

.mat-form-field {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 100%;
  }
.role-txt{
    color: #3CA7C5;
    border: #3CA7C5 solid 1px;
}
.hidedropDown {
     visibility: hidden;
    position: absolute;
    width: fit-content;
}
.border{
    border-top-style: 1px solid #707070;
    border-right-style: 1px solid #707070;
    border-bottom-style:0.5px solid #707070;
    border-left-style: 1px solid #707070;
}

.role-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #040404;
}
.head{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    
 }

// .toggle-clr {
//     background-color: #E87033;
// }