.btn-info{
    float: right;
}
.btn-col{
    background-color: #3CA7C5;

}

.mat-form-field {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 100%;
  }

.head{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    
 }