mat-sidenav-container {
  height: 100%;
  background-color: #f9f9f9;
  


  .mat-toolbar {
    background-color: #454655;
    padding-top: 3px;
    
    
  }

  mat-sidenav {
    background-color: #454655;
    width:65px;

    mat-nav-list {
      padding-top: 0px;
      .menu-item {
        margin-left: 2px;
        
        

      }

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        right: 17px;
        float: right;
        position: absolute;
        border-radius: 20%;
        background-color: #F7F7F7;
      }


      .chevron-button.rotated {
        transform: rotate(180deg);
      }

      img.img-fluid {
        height: 24px;
        width: 24px;
        margin-left: 3px;
      }

      .row-color {
        // border-bottom: 2px solid #E87033;
        
        background-color: #F7F7F7;
      }
      .active  {
        // border-right: 3px solid #E87033 !important;
        background-color: #3CA7C5;
        // margin-top: 3px;
        
      }
    }
  }
}

.mat-toolbar {
  height: 58px;
}

hr {
  margin: 1px;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

.navigation-bar {
  position: inherit;
  top: 0px;
  z-index: 101;
  height: 54px;
  width: 100%;
}

.link {
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}
// .text-font{
//   font-family: 'Poppins', sans-serif;
//   font-weight: bold;
//   // font-size: 16px;
// }
.logout-color{
  color: #3CA7C5;
}

.side-nav-btn{
  position: absolute;
  bottom: 15px;
  text-align: center;
  right: 15px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #F7F7F7;
  border: none;
}
.arrow-position{
  line-height: 20px;
  margin:6px;
}
//   .bl-text{
//   color: black
// }

.mat-list-base {
padding-top: 0px;
display: block;
-webkit-tap-highlight-color: transparent;
}
.navigation-bar {
position: absolute;
top: 0px;
z-index: 101;
height: 48px;
position: sticky;
}
 .profile_menu{
  line-height: 30px !important;
    border-radius: 50%;
    border: none
}

.mat-icon-button {
padding: 0;
min-width: 0;
width: 40px;
height: 40px;
flex-shrink: 0;
line-height: 40px;
border-radius: 50%;
color: grey;
background: transparent;
font-family: 'Poppins', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 30px !important;
}

.devide_vertical {
height: 30px;
display: inline-block;
margin-left: 5px;

}

.profileImageIcon {
width: 30px;
height: 30px;
border-radius: 50%;
background: #3CA7C5;
font-size: 15px;
color: #fff;
text-align: center;
overflow: hidden;
z-index: 100;
}
.theme_color {
background-color: #fff!important;
color: #212121!important;
}
.coverPic {
margin-top: -3em;
width: 100%;
height: 100px;
}

.greybg {
background-color: #fafafa!important;
}

.avatar-upload {
position: relative;
margin: 10px auto 10px;
z-index: 100;
margin-top: -3.5em;
text-align: center;
width: 100%;
//display: inline-block;
}


.profileImage {
z-index: 100;
// position: absolute;
position: relative;
width: 85px;
height: 85px;
border-radius: 50%;
background: #3CA7C5;
font-size: 40px;
color: #fff;
text-align: center;
line-height: 85px;
overflow: hidden;
}
.userNameLabel{
text-align: center;
letter-spacing: 0.29px;
}
.font-13 {
font-family: 'Poppins', sans-serif;
font-size: 13px;
}

.font-15{
font-family: 'Poppins', sans-serif;
font-size: 15px;
color: #3CA7C5;
}

.profile_menu{
//overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.mat-menu-content:not(:empty) {
padding-top: 8px;
padding-bottom: 8px;
}

.cdk-overlay-pane {
pointer-events: auto;
box-sizing: border-box;
max-width: 100%;
max-height: 100%;
}